header{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    height: 17vh;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #CFC5AB;
}

header>img{
    width: 110px;
    height: 105px;
    padding-top: 1vh;
    padding-left: 1.5vw;
}

header>ul{
    position: absolute;
    right: 3vw;
    font-size: 30px;
    top: 1.5vh;
    list-style: none;
}

header>ul>li{
    display: inline-block;
    font-family:'IBM Plex Sans', sans-serif;
    padding-left: 2vw;
    color:  #5B157B;

}

main{
    position: relative;
}

main>section:nth-child(1){
    width: 100%;
    position: absolute;
    height: 110vh;
    background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(224,224,224,1) 100%);
    top: 17vh;

}

main>section:nth-child(1)>img:nth-child(1){
    position: absolute;
    width: 1100px;
    height: 790px;
    bottom: 0;
    right: 0.2vh;

}

main>section:nth-child(1)>p:nth-child(2){
    /* HELLO I AM THIHAN GAMAGE */
    padding-top: 16vh;
    padding-left: 3vw;
    font-size: 64px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(219,219,219);
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(31, 31, 31), rgb(146, 146, 146));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main>section:nth-child(1)>p:nth-child(3){
    /* ASSOCIATE SOFTWARE ENGINEER */
    padding-top: 5vh;
    padding-left: 3vw;
    font-size: 50px;
    margin: 0;
    font-family:'IBM Plex Sans', sans-serif;
    background : -webkit-linear-gradient(#6b2a86, #6d3278, rgb(23, 23, 23));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main>section:nth-child(1)>button:nth-child(4){
    /*  Download CV */
    position: absolute;
    width: 270px;
    height: 93px;
    margin-left: 7vw;
    text-align: center;
    background: #9EE473;
    border-radius: 30px;
    border: 0;
    margin-top: 12vh;
    cursor: pointer;
    box-shadow: 10px 10px 22px 3px #282828;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 34px;

}

main>section:nth-child(1)>button:nth-child(5){
    /*  Contact*/
    position: absolute;
    width: 213px;
    height: 93px;
    margin-left: 35vw;
    text-align: center;
    background: -webkit-linear-gradient(#7E89E9,#72DCE2);
    border-radius: 30px;
    border: 0;
    margin-top: 12vh;
    cursor: pointer;
    box-shadow: 10px 10px 22px 3px #282828;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 38px;

}

main>section:nth-child(1)>div:nth-child(6){
    width: 20vw;
    padding-left: 5vw;
    padding-top: 44vh;
    height: 5vh;
    display: flex;
    align-items: center;

}

main>section:nth-child(1)>div:nth-child(6)>img{
    padding-left: 4vw;
    width: 5vw;
    height: 10vh;

}

main>section:nth-child(2){
    width: 100%;
    position: absolute;
    height: 110vh;
    background: rgb(195,195,195);
    background: linear-gradient(0deg, rgb(195, 195, 195) 0%, rgba(223,223,223,1) 100%);
    top: 127vh;

}

main>section:nth-child(2)>p:nth-child(1)>span{
    background-image: linear-gradient(transparent 82px, rgb(61, 61, 61), rgba(53, 3, 56, 0.42));
}

main>section:nth-child(2)>p:nth-child(1){
    /*About me*/
    padding-top: 8vh;
    padding-left: 6vw;
    font-size: 64px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(219,219,219);
    background: -webkit-linear-gradient(#242424, #4b4b4b, #4d2a52);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

main>section:nth-child(2)>img{
   margin-left: 5vw;
    margin-top: 10vh;
    width: 21vw;
    height: 65vh;
    border: 10px solid #A69D9D;
    border-radius: 20px;
}

main>section:nth-child(2)>p:nth-child(3){
    position: absolute;
    top: 26vh;
    left: 32vw;
    font-size: 36px;
    font-family:'IBM Plex Sans', sans-serif;
    color: black;
}

main>section:nth-child(2)>div:nth-child(4){
    position: absolute;
    top: 55vh;
    left: 32vw;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}

main>section:nth-child(2)>div:nth-child(4)>p{
    margin-top: 0vh;
}

main>section:nth-child(2)>div:nth-child(5){
    position: absolute;
    top: 55vh;
    left: 48vw;
    font-size: 36px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: black;
}

main>section:nth-child(2)>div:nth-child(5)>p{
    margin-top: 0vh;
}


main>div:nth-child(3){
    /*Line 1*/
    position: absolute;
    width: 100%;
    background: black;
    transform: rotate(-0.0deg);
    top: 127vh;
    height: 2px;
}


main>section:nth-child(4){
    width: 100%;
    position: absolute;
    height: 210vh;
    background: rgb(226,226,226);
    background: linear-gradient(0deg, rgba(226,226,226,1) 0%, rgba(189,189,189,1) 100%);
    top: 237vh;
}

main>section:nth-child(4)>p:nth-child(1){
    /*Skills*/
    padding-top: 8vh;
    padding-left: 6vw;
    font-size: 64px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(219,219,219);
    background: -webkit-linear-gradient(#000000, #3e3e3e, #430d44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

main>section:nth-child(4)>p:nth-child(1)>span{
    background-image: linear-gradient(transparent 82px, rgb(61, 61, 61), rgba(53, 3, 56, 0.42));
}

main>section:nth-child(4)>div:nth-child(2){
    padding-top: 3vh;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

main>section:nth-child(4)>div:nth-child(2)>div{
    position: relative;
    width: 28vw;
    height: 42vh;
    background: #FFF2DA;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(1)>div{
    position: absolute;
    width: 210px;
    height: 207px;
    bottom: 0;
    top: 0;
    left: 2vw;
    margin: auto;
    border-radius: 50%;

    background: #C9C9C9;
    background-image:
        /* 10% = 126deg = 90 + ( 360 * .1 ) */
            linear-gradient(90deg, transparent 50%, #F88600 50%),
            linear-gradient(25deg, #F88600 50%, transparent 50%);


}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(1)>img{
    width: 9vw;
    height: 19vh;
    position: absolute;
    top: 8vh;
    right: 1vw;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(1)>p{
    font-size: 30px;
    position: absolute;
    top: 24vh;
    right: 2.7vw;
    font-family: 'Roboto', sans-serif;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    top: 10vh;
    right: 1vw;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(2)>p{
    font-size: 30px;
    position: absolute;
    top: 24vh;
    right: 2.2vw;
    font-family: 'Roboto', sans-serif;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    top: 10vh;
    right: 1vw;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(3)>p{
    font-size: 30px;
    position: absolute;
    top: 24vh;
    right: 3.5vw;
    font-family: 'Roboto', sans-serif;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    top: 8vh;
    right: 1vw;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(4)>p{
    width: 5vw;
    height: 3vh;
    font-size: 30px;
    position: absolute;
    top: 22vh;
    right: 3vw;
    font-family: 'Roboto', sans-serif;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>img{
    width: 7vw;
    height: 15vh;
    position: absolute;
    top: 10vh;
    right: 1.5vw;
}

main>section:nth-child(4)>div:nth-child(2)>div:nth-child(5)>p{
    font-size: 30px;
    position: absolute;
    top: 22vh;
    right: 2vw;
    font-family: 'Roboto', sans-serif;
}

main>section:nth-child(4)>p:nth-child(3){
    /*Interests*/
    padding-top: 12vh;
    padding-left: 6vw;
    font-size: 64px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(219,219,219);
    background: -webkit-linear-gradient(#000000, #3e3e3e, #430d44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

main>section:nth-child(4)>p:nth-child(3)>span{
    background-image: linear-gradient(transparent 82px, rgb(61, 61, 61), rgba(53, 3, 56, 0.42));
}

main>section:nth-child(4)>div:nth-child(4){
    padding-top: 5vh;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

main>section:nth-child(4)>div:nth-child(4)>div{
    position: relative;
    width: 18vw;
    height: 38vh;
    background: #FFF7F7;
    border: 4px solid #8C3636;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(1)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    bottom: 11vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(1)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 1vh;
    font-family: 'Poppins', sans-serif;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(2)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    bottom: 12vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(2)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 1vh;
    font-family: 'Poppins', sans-serif;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(3)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    bottom: 12vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(3)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 1vh;
    font-family: 'Poppins', sans-serif;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(4)>img{
    width: 9vw;
    height: 18vh;
    position: absolute;
    bottom: 12vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(4)>div:nth-child(4)>div:nth-child(4)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 1vh;
    font-family: 'Poppins', sans-serif;
}


main>div:nth-child(5){
    /*Line 2*/
    position: absolute;
    width: 100%;
    background: black;
    transform: rotate(-0.0deg);
    top: 237vh;
    height: 2px;
}

main>section:nth-child(6){
    width: 100%;
    position: absolute;
    height: 100vh;
    background: rgb(177,177,177);
    background: linear-gradient(0deg, rgba(177,177,177,1) 0%, rgba(226,226,226,1) 100%);
    top: 447vh;
}

main>section:nth-child(6)>p:nth-child(1){
    /*Projects*/
    padding-top: 8vh;
    padding-left: 6vw;
    font-size: 64px;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(219,219,219);
    background: -webkit-linear-gradient(#000000, #3e3e3e, #430d44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

main>section:nth-child(6)>p:nth-child(1)>span{
    background-image: linear-gradient(transparent 82px, rgb(61, 61, 61), rgba(53, 3, 56, 0.42));
}

main>section:nth-child(6)>div:nth-child(2){
    padding-top: 10vh;
    height: 52vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

main>section:nth-child(6)>div:nth-child(2)>div{
    position: relative;
    width: 21vw;
    height: 52vh;
    box-sizing: border-box;
    background: #FFFEE0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(1)>img{
    width: 213px;
    height: 144px;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(1)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 10vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(1)>button{
    /* View Project*/
    position: absolute;
    width: 11vw;
    height: 7vh;
    text-align: center;
    background: #44FFE9;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    bottom: 4vh;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #414141;
    font-weight: normal;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(2)>img{
    width: 200px;
    height: 144px;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(2)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 12vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(2)>button{
    /* View Project*/
    position: absolute;
    width: 11vw;
    height: 7vh;
    text-align: center;
    background: #44FFE9;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    bottom: 4vh;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #414141;
    font-weight: normal;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(3)>img{
    width: 200px;
    height: 144px;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(3)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 12vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(3)>button{
    /* View Project*/
    position: absolute;
    width: 11vw;
    height: 7vh;
    text-align: center;
    background: #44FFE9;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    bottom: 4vh;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #414141;
    font-weight: normal;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(4)>img{
    width: 200px;
    height: 144px;
    position: absolute;
    top: 7vh;
    left: 0;
    right: 0;
    margin: auto;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(4)>p{
    font-size: 24px;
    position: absolute;
    right:0;
    left: 0;
    text-align: center;
    bottom: 12vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

main>section:nth-child(6)>div:nth-child(2)>div:nth-child(4)>button{
    /* View Project*/
    position: absolute;
    width: 11vw;
    height: 7vh;
    text-align: center;
    background: #44FFE9;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
    bottom: 4vh;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #414141;
    font-weight: normal;
}

main>section:nth-child(6)>div:nth-child(3){
    position: absolute;
    bottom: 4vh;
    height: 10vh;
    width: 10vw;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

main>section:nth-child(6)>div:nth-child(3)>div{
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 2px solid #000000;
    box-sizing: border-box;
}

main>section:nth-child(6)>div:nth-child(3)>div:nth-child(1){
    background: #FF7B7B;
}


main>div:nth-child(7){
    /*Line 3*/
    position: absolute;
    width: 100%;
    background: black;
    transform: rotate(-0.0deg);
    top: 447vh;
    height: 2px;
}